<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appbanco">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appbanco"
        tools:targetApi="31">
        <activity
            android:name=".view.Pagamentos.Deposito.DepositoReciboActivity"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Deposito.DepositofFormActivity"
            android:exported="false" />
        <activity
            android:name=".view.Login_Cadastro.Login"
            android:exported="false" />
        <activity
            android:name=".view.Chave_Pix.ChaveCriada"
            android:exported="false" />
        <activity
            android:name=".view.Chave_Pix.TipoChave"
            android:exported="false" />
        <activity
            android:name=".view.Chave_Pix.CriaChavePix"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Cartoes.CartaoCriado"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Pix.PixTransfSucesso"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Pix.ConfirmacaoPix"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Pix.PixTransfFinal"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Transferencia.Transferencia"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Pix.PixTransfDestino"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Pix.PixTransf"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Cartoes.GerarCartoes"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Cartoes.Cartoes"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Recarga.RecargaValorCartao"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Recarga.RecargaValorConta"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Recarga.RecargaPagamento"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Recarga.Operadora"
            android:exported="false" />
        <activity
            android:name=".view.Pagamentos.Recarga.Recarga"
            android:exported="false" />
        <activity
            android:name=".view.Home.Home"
            android:exported="false" />
        <activity
            android:name=".view.Login_Cadastro.EsqueciSenha"
            android:exported="false" />
        <activity
            android:name=".view.Login_Cadastro.TipoConta"
            android:exported="false" />
        <activity
            android:name=".view.Login_Cadastro.CadastroProximo"
            android:exported="false" />
        <activity
            android:name=".view.Login_Cadastro.Cadastro"
            android:exported="false" />
        <!-- SE MUDAR A TELA SPLASH DAQUI, MOVA O TEMA TAMBÉM -->
        <activity
            android:name=".view.Home.Splash"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>